<!DOCTYPE html>

<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />

    <!-- Search -->
    <meta name="author" content="{{ author }}" />
    <meta name="description" content="{{ description }}" />

    <!-- Facebook -->
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:title" content="{{ title }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="{{ title }}" />
    <meta name="twitter:creator" content="{{ author }}" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ image }}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#b91d47" />
    <meta name="theme-color" content="#ffffff" />

    <title>{{ title }}</title>
  </head>

  <body>
    <header>
      <h1>{{ title }}</h1>

      <nav>
        {% for item in categories %}
        <a href="{{ item.href }}">{{ item.title }}</a>
        {% endfor %}
      </nav>
    </header>

    <main>
      <section>{{ index_content }}</section>

      <section>{{ latest_posts }}</section>
    </main>

    <footer>
      <p>© {{ author }} {{ build_date.year }}</p>
      <p>
        Built by [chessmd](https://gitlab.com/sirkmatija/chessmd), chess website
        builder.
      </p>
    </footer>
  </body>
</html>
